
<table>
	<thead>
		<tr>
			<th>UM</th>
			<th>DOIS</th>
			<th>TRES</th>
			<th>QUATRO</th>
			<th>CINCO</th>
		<tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items | slice:((page-1) * itemsPerPage):(itemsPerPage * page)">
			<td>{{item.um}}</td>
			<td>{{item.dois}}</td>
			<td>{{item.tres}}</td>
			<td>{{item.quatro}}</td>
			<td>{{item.cinco}}</td>
		</tr>
	</tbody>
</table>

<div class="paginator">
	<button (click)="prevPage()"> &#8592; Página Anterior</button>
	<span>{{page}}</span>
	<button (click)="nextPage()"> Próxima Página &#8594; </button>
</div>
